.paper-money{
    position: absolute;
    z-index: 10;
    width:10vw;
    height:10vh;
}
.paper-money:hover{
    border:3px solid cyan;
}
.paper-money:active{
    border:3px solid turquoise;
}