.input-money{
    position: absolute;
    z-index: 10;
    font-size:3vh;
    background-color: silver;
    border:1px white solid;
    border-radius: 12px;
    outline: none;
    text-align: center;
    width:7vw;
}
.message{
    margin-top: 20vh;
    font-size:3vh;
    text-align: center;
}